# Object file
*.o

# .history files
*.history
*.Rhistory

# MATLAB temp files
*.m~

# RData but not *.RData
.RData

# .DS_Store
*.DS_Store

# Apple system file
.com.apple.timemachine.supported

# directories & files I dont want indexed, for now
r_process_files
rsmDirectory
.Rproj.user
xset_a.RData
/data/raw/JAZ_UV_VIS/raw_spectra/*
/data/raw/ESRL_GMD_AntUV/ver2/PAL_v22.2_BB_2013_JD300-366/*
/data/raw/ESRL_GMD_AntUV/ver2/PAL_v22.2_BB_2013_JD200-299/*
*.JazIrrad"